
{% extends 'base.html' %}
{% load static %}

{%block body%}
<!-- secondstart -->
<div class="feature">
    <div class="container">
      <!-- istrow -->
      <div class="row">
        <div class=" offset-md-1 col-md-10">
          <div class="c-title text-center">
            <h1 class="c-h1">Rifat Party Zone Services </h1>
            <p class="c-p">Here are the services that our company is providing </p>
          </div>
        </div>
      </div>
      <!-- 2ndrow -->
     <div class="row">    
     <!-- singleitem -->
    
       <div class="col-lg-4 col-sm-6">
         <div class="single">
           <div class="row">
             <div class="col-md-3">
               <div class="s-img">
                 <i class="fab fa-android text-center andr"></i>
               </div>
             </div>
             <div class="col-md-9">
               <div class="s-text">
                 <h2>Bronze Pack</h2>
                 <p>৳800</p>
                 <p> 20 Mbps</p>
                 <p>Rifat Media Zone(192.168.1.1)}</p>
                 
                 <a href = "{% url 'C_Request' %}"> <button class="btn success">Buy now </button></a>
               </div>
             </div>
           </div>
         </div>
       </div>

       <div class="col-lg-4 col-sm-6">
        <div class="single">
          <div class="row">
            <div class="col-md-3">
              <div class="s-img">
                <i class="fab fa-android text-center andr"></i>
              </div>
            </div>
            <div class="col-md-9">
              <div class="s-text">
                <h2>Bronze Pack</h2>
                <p>৳800</p>
                <p> 20 Mbps</p>
                <p>Rifat Media Zone(192.168.1.1)}</p>
                
                <a href = "{% url 'C_Request' %}"> <button class="btn success">Buy now </button></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="single">
          <div class="row">
            <div class="col-md-3">
              <div class="s-img">
                <i class="fab fa-android text-center andr"></i>
              </div>
            </div>
            <div class="col-md-9">
              <div class="s-text">
                <h2>Bronze Pack</h2>
                <p>৳800</p>
                <p> 20 Mbps</p>
                <p>Rifat Media Zone(192.168.1.1)}</p>
                
                <a href = "{% url 'C_Request' %}"> <button class="btn success">Buy now </button></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="single">
          <div class="row">
            <div class="col-md-3">
              <div class="s-img">
                <i class="fab fa-android text-center andr"></i>
              </div>
            </div>
            <div class="col-md-9">
              <div class="s-text">
                <h2>Bronze Pack</h2>
                <p>৳800</p>
                <p> 20 Mbps</p>
                <p>Rifat Media Zone(192.168.1.1)}</p>
                
                <a href = "{% url 'C_Request' %}"> <button class="btn success">Buy now </button></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="single">
          <div class="row">
            <div class="col-md-3">
              <div class="s-img">
                <i class="fab fa-android text-center andr"></i>
              </div>
            </div>
            <div class="col-md-9">
              <div class="s-text">
                <h2>Bronze Pack</h2>
                <p>৳800</p>
                <p> 20 Mbps</p>
                <p>Rifat Media Zone(192.168.1.1)}</p>
                
                <a href = "{% url 'C_Request' %}"> <button class="btn success">Buy now </button></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="single">
          <div class="row">
            <div class="col-md-3">
              <div class="s-img">
                <i class="fab fa-android text-center andr"></i>
              </div>
            </div>
            <div class="col-md-9">
              <div class="s-text">
                <h2>Bronze Pack</h2>
                <p>৳800</p>
                <p> 20 Mbps</p>
                <p>Rifat Media Zone(192.168.1.1)}</p>
                
                <a href = "{% url 'C_Request' %}"> <button class="btn success">Buy now </button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
  
  
     </div>
   </div>
  </div>
  <!-- secondend -->
  
  
  {%endblock%}